/* Base styles */

@media only screen and (max-width: 768px) {
  .select-container {
    display: none !important;
  }

  .search-icon {
    display: none !important;
  }

  .input {
    display: none;
  }
}

.navbar {
  padding: 11px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 1px 3px black;
}

.logo {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
}

.select-container {
  height: 40px;
  width: 40%;
  background-color: white;
  outline: none;
  font-size: 16px;
  border: 3px solid #002f34;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.select {
  width: 85%;
  height: 35px;
  background-color: white;
  outline: none;
  font-size: 19px;
  border-radius: 5px;
  border: none;
  padding: 5px;
}

.input {
  width: 40%;
  height: 35px;
  border-radius: 5px;
  background-color: white;
  outline: none;
  font-size: 16px;
  border: 3px solid #002f34;
  padding: 3px;
}

.search-icon {
  font-size: 20px !important;
  background-color: #002f34;
  padding: 12px 11px;
  border-radius: 5px;
  color: white;
  margin-left: 3px;
  cursor: pointer;
}

.login-txt {
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  text-decoration: underline;
  cursor: pointer;
  margin-right: 10px;
}

.login-txt:hover {
  text-decoration: none;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 10px;
  margin-top: 5px;
}

.btn-container img {
  width: 109px;
  height: auto;
  position: absolute;
  cursor: pointer;
}

.btn-container span {
  font-size: 18px;
  font-weight: 500;
  margin-right: 3px;
  position: relative;
  cursor: pointer;
}

/* Media queries for responsiveness */
@media only screen and (max-width: 768px) {
  .select-container,
  .input {
    width: 60%;
  }
  
  .btn-container {
    margin-left: 5px;
  }
}

@media only screen and (max-width: 576px) {
  .select-container,
  .input {
    width: 70%;
  }
  
  .btn-container {
    margin-left: 0;
  }
}