.carts {
    width: 351px;
    box-shadow: 0px 0px 3.5px rgb(126, 125, 125);
    margin: 19px 11px;
    border-radius: 11px;
    cursor: pointer;
}

.thumbnail {
    width: 100%;
    max-height: 299px;
    border-top-left-radius: 11px;
    border-top-right-radius: 11px;
}

.txt-heart-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 7px;
}

.price-txt {
    font-size: 27px;
    font-weight: 640;
}

.heart {
    transition: 500ms;
    height: 35px;
    margin-top: 5px;
    margin-right: 5px;
    cursor: pointer;
}

.clicked-heart {
    transition: 500ms;
    height: 41px;
    margin-top: 2.5px;
    margin-right: 5px;
    cursor: pointer;
}

.tital-txt {
    display: block;
    font-size: 25px;
    width: 91%;
    margin: 5px 11px;
    overflow-wrap: break-word;
    text-align: left;
    font-weight: 500;
}

.discount-thumbnail-container {
    display: flex;
    align-items: center; /* Center items vertically */
    cursor: pointer;
    position: relative;
}

.discount-txt { 
    position: absolute;
    background-color: red;
    padding: 9px 11px;
    top: 0%;
    color: white;
    font-size: 19px;
    border-top-left-radius: 11px;
}