.container{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.image-grid-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 91%;
  height: 79vh;
  position: relative;
  box-shadow: 0px 0px 9px black;
  border-radius: 9px;
  overflow-x: hidden;
}

.image {
  margin: 0 auto;
  width: 43%;
  opacity: 1;
  animation: fadeIn 0.5s ease-in-out; /* Add a transition effect for opacity */
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.image-grid-container img {
  max-width: 100%;
  height: auto;
  display: block;
}

.fa-icon {
  font-size: 41px;
  cursor: pointer;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(85, 85, 85);
}

.fa-arrow-left {
  left: 10px;
}

.fa-arrow-right {
  right: 10px;
}

.image-counting-container {
  position: absolute;
  background-color: rgb(105, 104, 104); /* optional: add background color for better visibility */
  padding: 5px 19px;
  margin: 19px 5px;
  border-radius: 5px;
  right: 1%;
  font-size: 25px;
  bottom: 1.9%;
}