.icon-nav-container {
  padding-top: 39px;
  margin: 0 auto;
  padding: 11px;
}

.all-categary-txt {
  display: flex;
  font-size: 31px;
  font-weight: 700;
    margin-left: 69px;
}

.small-categories-main-container {
  display: flex;
  margin-top: 9px;
  flex-wrap: wrap;
    justify-content: center;
}

.small-category-container {
    width: 135px;
  padding: 7px;
  margin: 11px;
  cursor: pointer;
}

.small-category-container img:hover {
    transition: 500ms;
    width: 91%;
    margin-top: 3px;
    margin-left: 1.5px;
}

.small-category-container img {
  border-radius: 50%;
  margin: 0 auto;
  margin-left: 3px;
    width: 85%;
  margin-top: 5px;
}

.small-category-container span {
  overflow-wrap: break-word;
    font-size: 1.5em;
  font-weight: 700;
  color: rgb(35, 35, 35);
}